In [99]:
import pandas as pd

In [100]:
df = pd.read_parquet("test.parquet")

In [101]:
 df = df.set_index(["instrument","datetime"])

In [102]:
df.groupby(level="instrument")["$close"].shift(1)

instrument  datetime
SH600000    2005-01-04          NaN
            2005-01-05     1.000000
            2005-01-06     0.984012
            2005-01-07     0.970930
            2005-01-10     0.973837
                            ...
SZ300677    2021-06-07    10.258013
            2021-06-08    10.196334
            2021-06-09     9.711574
            2021-06-10     9.749160
            2021-06-11     9.647003
Name: $close, Length: 2293006, dtype: float32

In [74]:
import numpy as np

def moving_average(x, w):
    return np.convolve(x, np.ones(w), 'same') / w

x = np.array([1, 2, 3, 4, 5])
w = 3

result = moving_average(x, w)
print(result)

[1. 2. 3. 4. 3.]

In [82]:
df = pl.DataFrame(
    {
        "a": [1, 2, 3, 4],
        "b": [4, 5, 6, 7],
    }
)
df

shape: (4, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 4   │
│ 2   ┆ 5   │
│ 3   ┆ 6   │
│ 4   ┆ 7   │
└─────┴─────┘

In [103]:
import polars as pl

In [104]:
dp = pl.read_parquet("test.parquet")

In [114]:
dp.groupby(["datetime","ind"],maintain_order=True).apply( lambda df: df.select(pl.col("$close").mean()))

shape: (19_975, 1)
┌──────────┐
│ $close   │
│ ---      │
│ f32      │
╞══════════╡
│ 1.0      │
│ 1.014657 │
│ 1.006962 │
│ 1.009265 │
│ …        │
│ 7.743913 │
│ 7.699321 │
│ 7.784056 │
│ 7.756538 │
└──────────┘

In [64]:
import polars as pl

# Construct the sample polars dataframe
bb = pl.DataFrame({
    "ticker":["a"]*8 + ["b"]*8,
    "price":list(range(1, 17))
})

In [ ]:
bb.select(pl.

In [119]:
bb1 = bb.select([
    pl.col("ticker"),
    pl.col("price"),
    pl.col("price").apply(lambda x:moving_average(x,5)).over("ticker").alias("MAvg")
])

In [120]:
bb1

shape: (16, 3)
┌────────┬───────┬───────────────────────────────────┐
│ ticker ┆ price ┆ MAvg                              │
│ ---    ┆ ---   ┆ ---                               │
│ str    ┆ i64   ┆ object                            │
╞════════╪═══════╪═══════════════════════════════════╡
│ a      ┆ 1     ┆ [1.2 2.  3.  4.  5.  6.  5.2 4.2… │
│ a      ┆ 2     ┆ [1.2 2.  3.  4.  5.  6.  5.2 4.2… │
│ a      ┆ 3     ┆ [1.2 2.  3.  4.  5.  6.  5.2 4.2… │
│ a      ┆ 4     ┆ [1.2 2.  3.  4.  5.  6.  5.2 4.2… │
│ …      ┆ …     ┆ …                                 │
│ b      ┆ 13    ┆ [ 6.   8.4 11.  12.  13.  14.  1… │
│ b      ┆ 14    ┆ [ 6.   8.4 11.  12.  13.  14.  1… │
│ b      ┆ 15    ┆ [ 6.   8.4 11.  12.  13.  14.  1… │
│ b      ┆ 16    ┆ [ 6.   8.4 11.  12.  13.  14.  1… │
└────────┴───────┴───────────────────────────────────┘

In [98]:
bb1.filter(pl.col("ticker")=="b")

shape: (8, 3)
┌────────┬───────┬──────┐
│ ticker ┆ price ┆ MAvg │
│ ---    ┆ ---   ┆ ---  │
│ str    ┆ i64   ┆ i64  │
╞════════╪═══════╪══════╡
│ b      ┆ 9     ┆ null │
│ b      ┆ 10    ┆ null │
│ b      ┆ 11    ┆ null │
│ b      ┆ 12    ┆ null │
│ b      ┆ 13    ┆ 11   │
│ b      ┆ 14    ┆ 12   │
│ b      ┆ 15    ┆ 13   │
│ b      ┆ 16    ┆ 14   │
└────────┴───────┴──────┘

In [77]:
bb1.filter(pl.col("ticker")=="b")

shape: (8, 3)
┌────────┬───────┬───────────────────────────────────┐
│ ticker ┆ price ┆ MAvg                              │
│ ---    ┆ ---   ┆ ---                               │
│ str    ┆ i64   ┆ object                            │
╞════════╪═══════╪═══════════════════════════════════╡
│ b      ┆ 9     ┆ [ 6.   8.4 11.  12.  13.  14.  1… │
│ b      ┆ 10    ┆ [ 6.   8.4 11.  12.  13.  14.  1… │
│ b      ┆ 11    ┆ [ 6.   8.4 11.  12.  13.  14.  1… │
│ b      ┆ 12    ┆ [ 6.   8.4 11.  12.  13.  14.  1… │
│ b      ┆ 13    ┆ [ 6.   8.4 11.  12.  13.  14.  1… │
│ b      ┆ 14    ┆ [ 6.   8.4 11.  12.  13.  14.  1… │
│ b      ┆ 15    ┆ [ 6.   8.4 11.  12.  13.  14.  1… │
│ b      ┆ 16    ┆ [ 6.   8.4 11.  12.  13.  14.  1… │
└────────┴───────┴───────────────────────────────────┘

In [121]:
bb2 = bb.filter(pl.col("ticker")=="b").select([
    pl.col("ticker"),
    pl.col("price"),
    pl.col("price").rolling_mean(5).alias("MAvg")
])

In [122]:
bb2

shape: (8, 3)
┌────────┬───────┬──────┐
│ ticker ┆ price ┆ MAvg │
│ ---    ┆ ---   ┆ ---  │
│ str    ┆ i64   ┆ f64  │
╞════════╪═══════╪══════╡
│ b      ┆ 9     ┆ null │
│ b      ┆ 10    ┆ null │
│ b      ┆ 11    ┆ null │
│ b      ┆ 12    ┆ null │
│ b      ┆ 13    ┆ 11.0 │
│ b      ┆ 14    ┆ 12.0 │
│ b      ┆ 15    ┆ 13.0 │
│ b      ┆ 16    ┆ 14.0 │
└────────┴───────┴──────┘

In [84]:
def test_func(a, b, c):
    return a + b + c

df = pl.DataFrame(
    {
        "a": [1, 2, 3, 4],
        "b": [4, 5, 6, 7],
    }
)

df.with_columns(
    (
        pl.struct(["a", "b"]).map(
            lambda x: test_func(x.struct.field("a"), x.struct.field("b"), 1)
        )
    ).alias("a+b+c")
)

shape: (4, 3)
┌─────┬─────┬───────┐
│ a   ┆ b   ┆ a+b+c │
│ --- ┆ --- ┆ ---   │
│ i64 ┆ i64 ┆ i64   │
╞═════╪═════╪═══════╡
│ 1   ┆ 4   ┆ 6     │
│ 2   ┆ 5   ┆ 8     │
│ 3   ┆ 6   ┆ 10    │
│ 4   ┆ 7   ┆ 12    │
└─────┴─────┴───────┘

In [115]:
import pandas as pd
import polars as pl


df = pl.DataFrame(
    {
        "g": ["a", "a", "a", "b", "b", "b", "c", "c", "c",],
        "v": [1, 1, 1, 2, 2, 2, 3, 3, 3],
    }
)

In [116]:
df

shape: (9, 2)
┌─────┬─────┐
│ g   ┆ v   │
│ --- ┆ --- │
│ str ┆ i64 │
╞═════╪═════╡
│ a   ┆ 1   │
│ a   ┆ 1   │
│ a   ┆ 1   │
│ b   ┆ 2   │
│ b   ┆ 2   │
│ b   ┆ 2   │
│ c   ┆ 3   │
│ c   ┆ 3   │
│ c   ┆ 3   │
└─────┴─────┘

In [117]:
df.with_columns([
   pl.col("v").map(lambda x: [print(x), x][1]).over("g").alias("r"),
])

shape: (9,)
Series: 'v' [i64]
[
	1
	1
	1
	2
	2
	2
	3
	3
	3
]

shape: (9, 3)
┌─────┬─────┬─────┐
│ g   ┆ v   ┆ r   │
│ --- ┆ --- ┆ --- │
│ str ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ a   ┆ 1   ┆ 1   │
│ a   ┆ 1   ┆ 1   │
│ a   ┆ 1   ┆ 1   │
│ b   ┆ 2   ┆ 2   │
│ b   ┆ 2   ┆ 2   │
│ b   ┆ 2   ┆ 2   │
│ c   ┆ 3   ┆ 3   │
│ c   ┆ 3   ┆ 3   │
│ c   ┆ 3   ┆ 3   │
└─────┴─────┴─────┘